<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
<listeners>
<listener class-name="Framework.SeleniumFramework.Listeners"></listener>
</listeners>
  <test thread-count="5" name="End to End testcase" parallel="classes">
    <classes>
      <class name="Framework.SeleniumFramework.EndToEndTestcase"/>
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="Error Validation">
    <classes>
      <class name="Framework.SeleniumFramework.ErrorValidation"/>
    </classes>
  </test> 

 </suite> <!-- Suite -->
